<div class="Block RecentPurchases Moveable Panel" id="SideRecentPurchases">
  <h3>Your Recently Purchased Products</h3>
  <div class="BlockContent">
    <ul class="ProductList">
      <% @products[0..4].each_with_index do |product, i| %>
        <li class="<%= 'Odd' if i%2 == 1 %>" style="min-height: 331px;">
          <div class="ProductImage QuickView" data-product="<%= product['id'] %>">
            <a href="<%= product['custom_url'] %>" style="height: 225px;">
              <img src="<%= product['primary_image']['thumbnail_url'] %>"
                   alt="<%= product['name'] %>">
            </a>
          </div>
          <div class="ProductDetails" style="min-height: 59px;">
            <a href="<%= product['custom_url'] %>" class="pname">
              <%= product['name'] %>
            </a>
          </div>
          <em class="p-price">
            <span class="SalePrice">
              <%= Money.new(product['calculated_price'].to_f*100, "USD").format %>
            </span>
          </em>
          <div class="ProductActionAdd">
            <a href="/cart.php?action=add&amp;product_id=<%= product['id'] %>" class="btn icon-Add To Cart">
              Add To Cart</a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

</div>​
