<html>
  <body>
    <h1>Welcome <%= @user.email %>!</h1>

    <hr/>
    <h2>Client ID</h2>
    <pre><%= @client_id %></pre>

    <hr/>
    <h2>User</h2>
    <pre><%= @user.to_json %></pre>

    <hr/>
    <h2>Store</h2>
    <pre><%= @user.store.to_json %></pre>

    <hr/>
    <h2>CURL</h2>
    <pre>curl -XGET -v -H 'Accept: application/json' -H 'X-Auth-Client: <%= @client_id %>' -H 'X-Auth-Token: <%= @user.store.access_token %>' <%= "#{@bc_api_url}/stores/#{@user.store.store_hash}/v2/products" %></pre>

    <hr/>
    <h2>Products</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Image</th>
          <th>Name</th>
          <th>Price</th>
          <th>SKU</th>
          <th>Views</th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.id %></td>
            <td><img src="<%= product.primary_image[:tiny_url] %>" alt="" /></td>
            <td><h4><%= product.name %></h4></td>
            <td><%= '$%.2f'% product.price.to_f %></td>
            <td><%= product.sku %></td>
            <td><%= product.view_count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </body>
</html>
